<p>Please enter your credentials below</p>

<p id="error_msg"></p>

<%= form_for :credentials, url: signup_path do |f| %>
	<table>
		<tr>
			<td><%= f.label :username %>:</td>
			<td><%= f.text_field :username%></td>
		</tr>
		<tr>
			<td><%= f.label :password %>:</td>
			<td><%= f.text_field :password %></td>
		</tr>
	</table>
<% end %>

<button id="login_button">Login</button>
<button id="signup_button">Add User</button>

<p id="code"></p>
<p id="username"></p>
